<%= form_with(model: blog) do |form| %>
  <% if blog.errors.any? %>
    <% blog.errors.full_messages.each do |error| %>
      <%= js add_gritter(error, title: "yoshi portfolio alert", :sticky => false, time: 3000) %>
    <% end %>
  <% end %>

  <div class="mb-3">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :topic_id, class: "form-label"%>
    <%= form.text_field :topic_id, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :body, class: "form-label" %>
    <%= form.text_area :body, class: "form-control", rows: 15 %>
  </div>



  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
