<%= form_with(model: blog) do |form| %>
  <% if blog.errors.any? %>
    <% blog.errors.full_messages.each do |error| %>
      <%= alert_generator(error) %>
    <% end %>
  <% end %>

  <div class="mb-3">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :topic_id, class: "form-label"%>
    <%= form.collection_select(:topic_id, Topic.all, :id, :title,
                              {
                                selected: blog.topic.id, include_blank: true
                              },
                              class: "form-select"
                              )
    %>
  </div>

  <div class="mb-3">
    <%= form.radio_button :status, 'draft' %>
    <%= form.label :status, 'Draft' %>
    <%= form.radio_button :status, 'published' %>
    <%= form.label :status, 'Published' %>
  </div>

  <div class="mb-3">
    <%= form.label :body, class: "form-label" %>
    <%= form.text_area :body, class: "form-control", rows: 15 %>
  </div>



  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
